/* ******************Common Fields******************** */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(233,233,233);
}

.background-image{
 background-image: url("/assets/Image/newbackgrounds.jpg");
  min-height: 500px; 
  /* Center and scale the image nicely */
   /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

/* *************Sign-in Sign-up Admin*********** */

.search-container a{
  text-decoration: none;
  color: black;
}

.search-container button{
  background-color:rgb(233,233,233);
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid red;
}

.search-container  {
  padding: 16px 10px;
  float: right;
}

.search-container button:hover {
  background: rgb(230, 187, 187);
}

/* *****************************Image CSS***************************  **/

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: relative;
}

.topnav img{
  margin-left: 10px;
}

/* .box-button a{
  position: absolute;  
 padding-right:900px;
 margin: 1px;
} */

/* ************************Header Menu Items*********************/

.header a{
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 120px;
text-decoration: none;
font-size: 17px;
}

.header{
    overflow: hidden;
    background-color: red;   
   
}

.header ul{
  list-style-type: none;
}

/* *****************Cards Detials ***************************/

.container{
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
}

.card {
  width: 18%;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  float: left;
  background-color: white;
  margin :30px;
  margin-left: 56px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }

.card img {
  width: 80%;
  margin: 20px;
  border: 1px solid white;
}

h4,h5{
  text-align: center;
  padding: 4px;
}

.Blood-details button{
  background-color:white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 69px;
  border: 1px solid red;
}

.Blood-details{
  padding: 16px;
  background-color: #F4F3F2;
  border-radius: 0 0 5px 5px;
}

/* *********************h2 available **********************/

.available{
  padding-top: 30px;
  text-align: center;
}

/* ****************see more button for available blood************** */

.go{
  padding-top: 420px;
  margin-right: 540px;
  margin-left: 470px;
  text-align: center;
}

.go button{
  background-color:RED;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 63px;
}

.go a{
  color: WHITE;
  text-decoration: none;
}

/* *****************see more button for Needed  blood ***************/

.go-table{
  padding-top: 33px;
  margin-right: 90px;
  margin-left: 2px;
  text-align: center;
}

.go-table button{
  background-color:RED;
  border: none;
  padding: 11px 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 63px;
}

.go-table a{
  color: WHITE;
  text-decoration: none;
}

/* hr underline */

.hr-line{
  margin-top: 35px;
}

/* ***************table for need blood************************** */

td, tr {
  background-color: white;
  border: 1px solid rgb(233,233,233);
  text-align: center;
  padding: 8px;
}

th{
  color: white;
background-color : #808080;
border: 1px solid rgb(233,233,233);
padding: 8px;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin : 0 auto;
  margin-top: 45px;
}

td a{
  color: black;
}

/* *********************Footer*********************** */

.footer-dark {
  padding:30px 0;
  margin-top: 150px;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark .social {
  margin-left: 565px;
}

.footer-dark .social  a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .social  a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  margin-left: 581px ;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/* *********Register form**********8 */

input[type=name], input[type=email], input[type=password], input[type=cpassword]{
  width: 100%;
  padding: 15px;
  margin: 10px;
  margin-left: 50px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  background-color: #f2f2f2;  
}

.register-button{
  color: white;
  background-color: red; 
    border-radius: 25px;
    border: none;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 97px;
    margin-top: 10px;
}

.register-buttons{
  color: white;
  background-color: red; 
    border-radius: 25px;
    border: none;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 10px;
}

a{
  color: white;
  text-decoration: none;
}

.form-container{
  position: absolute;
  right: 0;
  margin: 39px;
  padding: 27px;
  padding-top: 30px;
  padding-left: 1px;
  padding-right: 100px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

.form-container h2{
  margin-left: 138px;
}

/* ************Benefits table ************ */

.benefits-table{
  margin-top: 100px;
}

.benefits-table th{
padding: 2%;
padding-right: 60px;
}

.benefits-table li{
  padding: 10px;
  /* float: left; */
  display: inline-block;
  
}

/* ************Recent donor header************* */

.recent-blood-donors{
  padding-top: 70px;
  text-align: center;
}

/* ***************Recent Table******************* */

.recent-table th{
  text-align: center;
  padding: 8px;
}

.recent-table td {
  text-align: center;
}

/* *************Tool Tip*************  */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}