*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233,233,233);
  }

h2{
    text-align: center;
    padding-top: 50px;
}

hr{
    margin-top: 50px;
}

/* ******************blood card************************* */

.container{
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .card {
    transition: 0.8s;
    width: 18%;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    float: left;
    background-color: white;
    margin :30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 80%;
    margin: 20px;
    border: 1px solid red;
  }
  
  h4,h5{
    text-align: center;
    padding: 4px;
  }

  /* *******************card button************************** */
  
  .Blood-details button{
    background-color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    border:1px solid red;
    margin-top: 10px;
    margin-left: 63px;
  }
  
  .Blood-details{
    padding: 16px;
    background-color: #F4F3F2;
    border-radius: 0 0 5px 5px
  }

/* *****************delete button for doanted blood******************* */

  .delete-button{
    padding-top: 420px;
    margin-right: 90px;
    margin-left: 23px;
    text-align: center;
  }
  
  .delete-button button{
    background-color:RED;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    border:1px solid red;
    margin-top: 10px;
    margin-left: 63px;
    color: white;
  }

  /* ***************table****************/

  td, tr {
    background-color: white;
    border: 1px solid rgb(243, 232, 232);
    text-align: center;
    padding: 8px;
  }

 th{
  background-color : #808080;
  border: 1px solid white;
  padding: 8px;
  color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin : 0 auto;
    margin-top: 50px;
  }

  /* *****************delete button for needed list******************* */

  .delete-button-need{
    padding-top: 35px;
    margin-right: 90px;
    margin-left: 23px;
    text-align: center;
  }
  
  .delete-button-need button{
    background-color:RED;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    border:1px solid red;
    margin-top: 10px;
    margin-left: 63px;
    color: white;
  }